<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @post.title %></h2>
  <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @post.body %></div>
  <p class="text-center"><%= link_to "Edit Post", edit_post_path %>
  <p class="text-center"><%= link_to "Remove Post", @post,data: { confirm: 'Are you sure?' }, :method => :delete %>
</div>